name: Build

on:
  push:
    branches: [main, develop]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: php-actions/composer@v6
      - uses: php-actions/phpunit@v3
        with:
          php_extensions: xdebug
          version: 9.5
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          coverage_clover: _coverage/coverage.xml
        env:
          XDEBUG_MODE: coverage
      - uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
